<!DOCTYPE html>
<html lang="es" xmlns:th="http://ww.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Crisalis System</title>

<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- NAV -->
	<div th:include="template-foonav.html::header"></div>

	<div class="container">


		<h1 class="mt-4 mb-3">
			Crisalis System <small>Pedidos</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{home/}">Home</a></li>
			<li class="breadcrumb-item active">Insertar Pedido</li>
		</ol>

		<h2>Insertar Pedido</h2>
		<!-- Mapeamos al controlador -->
		<form class="form-horizontal" th:action="@{/pedidos/save}"
			method="post" enctype="multipart/form-data">

			<div class="form-group">
				<label class="control-label col-sm-2" for="numeroPedido">Numero:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" step="any"
						id="numeroPedido" name="numeroPedido"
						placeholder="Ingrese el numero del pedido" autocomplete="off"
						required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="total">Total:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" step="any" id="total"
						name="total" placeholder="Ingrese el numero del pedido"
						autocomplete="off" required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="fechaCreacion">Fecha:</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" step="any"
						id="fechaCreacion" name="fechaCreacion" autocomplete="off"
						required>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="cliente">Cliente:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" step="any" id="cliente"
						name="cliente" placeholder="Ingrese el ID del cliente"
						autocomplete="off" required>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-saved"></span> Guardar
					</button>
				</div>
			</div>

		</form>

	</div>

	<!-- FOOTER -->
	<div th:include="template-foonav.html::footer"></div>

	<!-- JAVASCRIPT -->
	<script th:src="@{/jquery/jquery.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
