<!DOCTYPE html>
<html lang="es" xmlns:th="http://ww.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Crisalis System</title>

  <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

<body>

<!-- NAV -->
	<div th:include="template-foonav.html::header">	</div>

<div class="container">


  <h1 class="mt-4 mb-3">
    Crisalis System <small>Pedidos</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{home}">Home</a></li>
    <li class="breadcrumb-item active">Ver Pedidos</li>
  </ol>

  <a class="btn btn-primary" th:href="@{/pedidos/create}" > Insertar Pedido</a>
  <h2>Pedidos</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha creacion</th>
        <th scope="col">Costo</th>
        <th scope="col">Cliente</th>
        <th scope="col">Acción</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td><a  class="btn btn-warning" href="">Editar</a> </td>
        <td><a  class="btn btn-danger" href="">Eliminar</a> </td>
      </tr>       
    </tbody>
  </table>

</div>

<!-- FOOTER -->
	<div th:include="template-foonav.html::footer">	</div>

<!-- JAVASCRIPT -->
    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
