<!DOCTYPE html>
<html lang="es" xmlns:th="http://ww.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Crisalis System</title>

<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

 <!-- NAV -->
	<div th:include="template-foonav.html::header"></div>

    <div class="container">



      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Crisalis System <small>Cliente</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Actualizar Cliente</li>
      </ol>

      <h2>Actualizar Cliente</h2>
      <form class="form-horizontal" th:action="@{/clientes/update}" method="post"  enctype="multipart/form-data">
        
        <!-- INPUT HIDDEN: almacena el id del registro a editar -->
        <input type="hidden" name="id" th:value="${cliente.id}">    
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="nombre">Nombre:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del Cliente" required autocomplete="off" th:value="${cliente.nombre}">
            <div id="prueba"></div>  
          </div>
        </div>
        
         <div class="form-group">
          <label class="control-label col-sm-2" for="apellido">Apellido:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese el apellido del Cliente" required autocomplete="off" th:value="${cliente.apellido}">
            <div id="prueba"></div>  
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="dni">DNI:</label>
          <div class="col-sm-10">          
            <input type="number" class="form-control" step="any"  id="dni" name="dni" placeholder="Ingrese el precio del producto" required autocomplete="off" th:value="${cliente.dni}">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-success"> Guardar</button>
          </div>             
        </div>

      </form>

    </div>
    <!-- FOOTER -->
	<div th:include="template-foonav.html::footer"></div>

	<!-- JAVASCRIPT -->
	<script th:src="@{/jquery/jquery.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
