<!DOCTYPE html>
<html lang="es" xmlns:th="http://ww.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Crisalis System</title>

  <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

<body>

<!-- NAV -->
	<div th:include="template-foonav.html::header">	</div>

<div class="container">


  <h1 class="mt-4 mb-3">
    Crisalis System <small>Clientes</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{home}">Home</a></li>
    <li class="breadcrumb-item active">Ver Clientes</li>
  </ol>

  <a class="btn btn-primary" th:href="@{/clientes/create}" > Insertar Cliente</a>
  <h2>Clientes</h2>
  <table class="table">
    <thead>
      <tr>
      	<th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">DNI</th>
        <th scope="col">Acción</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
     <!-- Each: para recorrer la lista de los productos de la BBDD -->
       <tr th:each="cliente:${clientes}"> <!-- Nombre de la variable del addAttribute en el controlador -->
        <td th:text="${cliente.id}"></td>
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.apellido}"></td>
        <td th:text="${cliente.dni}"></td> 
        <!-- href: Apuntamos al controlador y ademas le pasamos un id como parametro en la URL -->
         <!-- tambien le decimos que valor debe llevar como id con la expresion (id=${producto.id}) -->
        <td><a  class="btn btn-warning" th:href="@{/clientes/edit/{id} (id=${cliente.id})}">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{/clientes/delete/{id} (id=${cliente.id})}">Eliminar</a> </td>

      </tr>       
    </tbody>
  </table>

</div>

<!-- FOOTER -->
	<div th:include="template-foonav.html::footer">	</div>

<!-- JAVASCRIPT -->
    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
