
<!-- NAV: creamos un fragament para hacer template del nav y poder reutilizarlo en todas las paginas -->

<div th:fragment="header-cliente">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home/}">Crisalis System</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/productos}">Productos</a>
					<li class="nav-item"><a class="nav-link" th:href="@{/servicios}">Servicios</a>
					<li class="nav-item"><a class="nav-link" th:href="@{/clientes}">Clientes</a>
					<li class="nav-item"><a class="nav-link" th:href="@{pedidosRealizados}">Pedidos</a>
					<li class="nav-item"><a class="nav-link" th:href="@{nuevoPedido}">Ver Pedido Actual</a>			  
				<!-- <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
</div>

<!-- NAV: creamos otro header fragament para cuando hacemos sesion con un cliente especifico y asi poder ver sus pedidos -->
<div th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home/}">Crisalis System</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/productos}">Productos</a>
					<li class="nav-item"><a class="nav-link" th:href="@{/servicios}">Servicios</a>
					<li class="nav-item"><a class="nav-link" th:href="@{/clientes}">Clientes</a>
					<li class="nav-item"><a class="nav-link" th:href="@{/pedidos}">Pedidos</a>
				</ul>
			</div>
		</div>
	</nav>
</div>



<!-- FOOTER creamos un fragament para hacer template del footer y poder reutilizarlo en todas las paginas -->
<div th:fragment="footer">
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Crisalis System</p>
		</div>
	</footer>
</div>
