<!DOCTYPE html>
<html lang="es" xmlns:th="http://ww.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Crisalis System</title>

  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

<!-- NAV -->
	<div th:include="template-foonav.html::header">	</div>

<div class="container">


  <h1 class="mt-4 mb-3">
    Crisalis System <small>Productos</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{home}">Home</a></li>
    <li class="breadcrumb-item active">Ver Productos</li>
  </ol>

  <a class="btn btn-primary" th:href="@{/productos/create}" > Insertar Producto</a>
  <h2>Productos</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Acción</th>
        <th scope="col">Acción</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
    <!-- Each: para recorrer la lista de los productos de la BBDD -->
      <tr th:each="producto:${productos}"> <!-- Nombre de la variable del addAttribute en el controlador -->
        <td th:text="${producto.nombre}"></td>
         <td th:text="${producto.costo}"></td>
         <!-- href: Apuntamos al controlador y ademas le pasamos un id como parametro en la URL -->
         <!-- tambien le decimos que valor debe llevar como id con la expresion (id=${producto.id}) -->
        <td><a  class="btn btn-warning" th:href="@{/productos/edit/{id} (id=${producto.id})}">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{/productos/delete/{id} (id=${producto.id})}">Eliminar</a> </td>
        <!-- <a  class="btn btn-danger" th:href="@{/home/orden/{id} (id=${producto.id})}">Agregar al pedido</a>  -->
        <td><form th:action="@{home/orden}" method="post">
        <!-- CAMPO OCULTO: Guardamos el id del producto para poder recibirlo en el controlador -->
        <input type="hidden" th:value="${producto.id}" name="id">
        <button type="submit" class="btn btn-dark">Agregar al pedido</button>
        
        </form></td>
      </tr>       
    </tbody>
  </table>

</div>

<!-- FOOTER -->
	<div th:include="template-foonav.html::footer">	</div>

<!-- JAVASCRIPT -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
