<!DOCTYPE html>

<!--  PLANTILLA THYMELEAF: usamos un motor de plantilla thymleaf  -->
<html lang="es" xmlns:th="http://ww.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Crisalis System</title>
	
	<!-- ESTILOS: -->

  <!-- CSS: redireccionamos anteponiendo th y @{} en las rutas -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- NAV -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home/}">Crisalis System</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/productos}">Productos</a>
					<li class="nav-item"><a class="nav-link" th:href="@{/servicios}">Servicios</a>
					<li class="nav-item"><a class="nav-link" th:href="@{/clientes}">Clientes</a>
					<li class="nav-item"><a class="nav-link" th:href="@{/pedidos}">Pedidos</a>
					<li class="nav-item"><a class="nav-link" th:href="@{nuevoPedido}">Nuevo Pedido</a>
					  
				<!-- <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li> -->
				</ul>
			</div>
		</div>
	</nav>

    
    
    <!-- Page Content -->
    <div class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Bienvenid@ a Crisalis System</h1>
        <p class="lead">Sistema de gestión de pedidos</p>
      </header>

    </div>

    <!-- FOOTER -->
	<div th:include="template-foonav.html::footer">	</div>

    <!-- JAVASCRIPT -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
