<!DOCTYPE html>

<!--  PLANTILLA THYMELEAF: usamos un motor de plantilla thymleaf  -->
<html lang="es" xmlns:th="http://ww.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Crisalis System</title>
	
	<!-- ESTILOS: -->

  <!-- CSS: redireccionamos anteponiendo th y @{} en las rutas -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- NAV -->
  <!-- HEADER para cuando no pasamos ningun ID todavia -->
	<div th:include="cliente/template-cliente.html::header" th:if="${sesion==null}"></div>

<!-- HEADER para cuando pasamos el ID al cual le asignamos los items y pedidos -->
<!-- anotacion thymeleaf: unless (Si no es null entonces hay un ID y por lo tanto tiene sus pedids) -->
	<div th:include="cliente/template-cliente.html::header-cliente" th:unless="${sesion==null}"></div>
    
    <div class="container">
      <header class="jumbotron my-4">
        <h1 style="text-align:center" class="display-3">Bienvenid@ a Crisalis System</h1>
        <p style="text-align:center" class="lead">Sistema de gestión de pedidos</p>
        <h1>¿Desea gestionar un nuevo pedido?</h1>
        <a th:href="@{/clientes/registro}" class="btn btn-secondary">Añadir cliente</a>
      </header>

    </div>

    <!-- FOOTER -->
	<div th:include="template-foonav.html::footer">	</div>

    <!-- JAVASCRIPT -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
